@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Exo');

body {
    background-image: url("../images/pelicans.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Exo Extra-Light', sans-serif;
    color: white;
    font-weight: thin;
    font-size: 40px;
}

p{
	color: #f4b642;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    line-height: .6em;
}
a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 40;
    font-size: 18px;
    line-height: 1.8em;
    text-decoration: none;
}
a:hover {
    color: #f5ccf9;
}