@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Exo:200,400');


header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

h1 {
    font-family: 'Exo', sans-serif;
    color: blue
    font-weight: 200;
    font-size: 40px;
}

p{
    color: blue;
    font-family: 'Open Sans', serif;
    font-weight: lighter;
    font-size: 24px;
    line-height: .6em;
}
a {
    color: blue;
    font-family: 'Open Sans', sans-serif;
    font-weight: 40;
    font-size: 18px;
    line-height: 1.8em;
    text-decoration: none;
}
a:hover {
    color: #f5ccf9;
}